header {
    color: aliceblue;
    background: linear-gradient(to
    right, rgb(48, 89, 137), rgb(57, 11, 173));
    font-weight: bold;
    font-size: 50px;
    display: flex;
    justify-content:center;
    border: 5px solid black;
}

h2 {
    font-weight: 20px;
}

input {
    width: 12%;
}

button {
    color: aliceblue;
    background-color:rgb(29, 29, 206);
    font-size:larger;
    width: 12.4%;
}

.StraightLine {
    width: 12.5%;
    text-align: left;
    margin-left: 0%;
   

}

.a {
    color:aliceblue;
}

.b {
    color: aliceblue;
}
/* vrtial button group*/
.button-group {
 
}
/* weather cards*/
.brains {
    flex: 4;
    background-color: rgb(255, 255, 255);
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    font-family:'Courier New', Courier, monospace;
    color: white
  }

  .card {
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    margin: 20px;
    flex: 0 0 300px;
    box-shadow: 10px 10px 10px #13293d;
    background-color: rgba(9, 22, 102, 0.798);
  }

  .card header {
    padding: 50px;
  }
